@use "../../../styles/colors" as *;

.section {
  margin-top: 60px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 22px;
  font-weight: 600;
  color:$color-accent;
  margin-bottom: 8px;
}

.subheading {
  font-size: 13px;
  color: $color-primary;
  margin-bottom: 24px;
  text-align: center;
  max-width: 420px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  width: 100%;
}

.card {
  background: $color-surface;
  border-radius: 14px;
  border: 1px solid $color-border;
  padding: 16px 18px;
  width: 240px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: transform 0.18s ease, border-color 0.18s ease,
    box-shadow 0.18s ease, background 0.18s ease;
}

.card:hover {
  transform: translateY(-4px);
  border-color: $color-primary;
  background: $color-surface-soft;
  box-shadow: 0 18px 35px rgba(15, 23, 42, 0.9);
}

.iconWrapper {
  width: 34px;
  height: 34px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-primary-soft;
  margin-bottom: 4px;
}

.icon {
  font-size: 18px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: $color-text-main;
}

.description {
  font-size: 12px;
  color: $color-primary;
  line-height: 1.4;
}

/* Responsive */
@media (max-width: 768px) {
  .section {
    margin-top: 40px;
    padding: 16px 12px;
  }

  .heading {
    font-size: 20px;
  }

  .subheading {
    font-size: 12px;
    max-width: 320px;
  }

  .card {
    width: 100%;
    max-width: 320px;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 18px;
  }

  .card {
    padding: 14px 14px;
  }

  .title {
    font-size: 13px;
  }

  .description {
    font-size: 12px;
  }
}


.track {
  inset-inline: 10%;
  width: 400px;
  align-self: center;
  height: 2px;
  background: linear-gradient(
    to right,
    $color-primary,
    $color-accent
  );
  opacity: 0.4;
  border-radius: 999px;

  @media (max-width: 900px) {
    .track{
      width: 400px;
    }
  }

}

@media (max-width:480px){
  .track{
    width: 300px;
  }
}
