@use "../../../styles/colors" as *;

.logo{
    display: flex;
 
    align-items: center;
    justify-content: center;

}

.img{
    display: flex;
    width: 40px;
    height: 50px;
    border-radius: 9999px;
}

.img:hover{
    transform: scale(1.04);
}