/* app/globals.scss */

@use "../src/styles/colors" as *; // თუ უკვე გაქვს src/styles/_colors.scss

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-geist-sans), system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
  background:
    radial-gradient(circle at top left, rgba(249, 116, 22, 0.103), transparent 55%),
    radial-gradient(circle at bottom right, rgba(34, 197, 94, 0.18), transparent 50%),
    $color-bg;
  color: $color-text-main;
}

a {
  color: inherit;
  text-decoration: none;
}
